.entity-buttons-wrapper .btn {
    height: 40px;
  
    margin-right: 12px;
    font-weight: 500 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    color:
      rgba(0, 0, 0, 0.87);
  }
  .btn-crm {
    border-radius: 0!important;
    height: 30px;
    min-width: 120px;
  }
  .btn-crm-primary{
    font-size: 11px!important;
    font-weight: 700!important;
    border-radius: 0!important;
    border: 1px solid #01747f !important;
    height: 30px;
    background-color: #01919D!important;
    color: white!important;
  }
  .btn-crm-default{
    font-size: 11px!important;
    font-weight: 700!important;
    border-radius: 0!important;
    border: 1px solid #aeaeae !important;
    height: 30px;
  }
  .btn-crm-default:hover {
    background: #f5f5f5;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(255, 177, 6, 0.25);
  }
  .btn-crm-default_red {
    border-color: red !important;
    color: red !important;
  }
  .entity-name {
    font-size: 20px;
    color: #151319;
    padding-top: 24px;
  }  
  .entity-details .item-title {
    font-size: 16px;
    line-height: 30px;
    color: #6A6A6A;
  }
  
  .entity-details .item-value{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #151319;
  }
  .entity-details .skill {
    display: inline;
    margin-right: 10px;
    background: rgba(225, 225, 225, 0.6);
    border: 1px solid #C4C4C4;
    font-size: 10px;
    text-transform: uppercase;
    color: #151319;
  }
  span.skill {
    margin: 1px 2px;
    padding: 1px 5px;
    border: 1px solid #aeaeae;
    font-size: 12px;
    background: #f5f5f5;
    display: inline-block;
    font-weight: 500;
  }
/****PDF PREVIEW POSITIONING****/
.buttons-left, .buttons-right {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}
.buttons-left a {
  margin-right: 10px;
}
.buttons-right {
  text-align: right;
  padding-top: 13px;  
}
.document__dropdown-menu i {
  width: 22px;
  height: 22px;
  margin-right: 0;
}
.document__dropdown-menu i::before {
  line-height: 22px;
  font-size: 12px;
}
.document__dropdown-item {
  padding: 0;
  margin-right: 10px;
}
.btn-file {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  padding: 0;
  min-width: 82px;
  position: relative;
  overflow: hidden;
}
input[type="file"] {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
