<div class="vacancy-list">
    <ul class="vacancies">
        <li *ngFor="let vacancy of vacancies"
        [class.selected]="vacancy === selectedVacancy"
        (click)="onSelect(vacancy)"
        class="entity_list__item">
            <div class="list-item-data" style="margin-left: 50px;">
                <div class="entity-title">
                <a><span>{{vacancy.name}}</span></a></div>
                <div class="entity-sub">
                <span>{{vacancy.company_name}}</span>
                </div>
                <div class="location">
                <span>{{vacancy.city_name}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>