.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
.vacancies {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
}  
.vacancies li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .vacancies li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .vacancies li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .entity_list__item {
    display:flex;
    background: #fff;
    min-height: 100px;
    /*padding-bottom: 5rem !important;*/
    /*padding-top: 5rem !important;*/
    border-bottom: 1px solid #dee2e6 !important;
    margin: 0 !important;
  }
  .entity_list__item a {
    color: black !important;
    text-decoration: none;
    background-color: transparent;
  }
  .entity_list__item .entity-title {
    font-weight: 500;
  }
  .entity_list__item .entity-sub {
    font-size: 14px;
    color:
      #616161;
    font-weight: normal;
  }    