<!--<div class="container">-->
<!--  <div class="row">-->
    <!-- items being paged -->
    <div class="item-wrap" *ngFor="let item of pagedItems">
      <div class="text-center ">
        <div class="card mb-5 item-card " style="">
          <img *ngIf="item.photo" src = "/files/photo/{{item.photo}}" style="width:200px;height:200px;" class="card-img-top">
          <span *ngIf="!item.photo" class="entity-item-round"><i class="fas fa-user"></i></span>
          <!--      <div *ngFor="let candidate of candidates" class="col-xs-6 col-md-2">-->
          <div class="card-body">
            <h5 class="card-title"><span><b>{{item.position}}</b></span><br><span>{{item.lastname}}</span><br><span>{{item.name}}</span><br><span>{{item.fathername}}</span></h5>
            <a routerLink="/detail/{{item.id}}" class="btn btn-primary">
              Детально о кандидате
            </a>
          </div>
        </div>
      </div>
    </div>
<!--  </div>-->
  <div class="container">
    <div class="row">
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)" class="page-link">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
        </li>
      </ul>
    </div>
  </div>
<!--</div>-->
