<ng-container *ngIf="candidate">
  <form #candidateUpdateForm="ngForm" (ngSubmit)="onFormSubmit(candidateUpdateForm)">
<div class="candidate-update container-fluid">
  <div class="candidate-update__panel-buttons p-3">
    <div class="row border-bottom">
      <div class="entity-details__buttons col-11 col-lg-11 pt-4 pl-0 pb-4">
        <div id="entity_buttons" class="entity-buttons-wrapper text-left">
          <button type="submit" id="updateUserTest" class="btn btn-crm-default">СОХРАНИТЬ</button>
          <button type="button" class="btn btn-crm-default" [routerLink]="['/all-candidates']">ЗАКРЫТЬ</button>
          <button type="button" class="btn btn-crm-default" (click)="openModal(template)">УДАЛИТЬ</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <ng-template #template>
    <div class="modal-header text-center">
      <h5>Вы действительно хотите удалить кандидата?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{candidate.lastname | uppercase}} {{candidate.name | uppercase}} {{candidate.fathername | uppercase}}</p>
      <p>{{candidate.company}} {{candidate.position}}</p>
      <button type="button" class="btn btn-sm btn-crm btn-crm-primary mr-2" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-sm btn-crm btn-crm-default btn-crm-default_red" (click)="decline()" >No</button>
    </div>
  </ng-template>
  <div class="candidate-update__wrap">
    <div class="row">
      <div class="col-6  col-lg-6 border-right">
        <div class="row">
          <div class="col-6 col-lg-6">
            <div class="candidate-update__input_wrap">
              <div class="form-group">
                <input class="form-control" [(ngModel)]="candidate.lastname" name="lastname" placeholder="Фамилия" />
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="candidate.name" name="name" placeholder="Имя" />
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="candidate.fathername" name="fathername" placeholder="Отчество" />
              </div>
              <div class="form-group">
                <select class="form-control" name="location"
                        [(ngModel)]="candidate.location" #city="ngModel">
                  <option  *ngFor="let city of cities" [value]="city.id">
                    {{city.name}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="candidate.company" name="company" placeholder="Компания" />
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="candidate.position" name="position" placeholder="Должность" />
              </div>
              <div class="form-group">
                <input class="form-control" [(ngModel)]="candidate.salary" name="salary" placeholder="Зарплата" />
              </div>

              <mat-form-field>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="candidate.date_birth" name="date_birth" placeholder="Дата рождения">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

            </div>
          </div>

          <div class="col-6 col-lg-6">
            <div class="" style="display: flex;justify-content: flex-end">

              <span class="empty-img entity-item-round" *ngIf="!selectedPhoto && !candidate.photo || isPhotoDeleted">
                <i class="fas fa-user avatar"></i>
              </span>

              <div *ngIf="selectedPhoto" class="img-preview-container">

                <div class="empty-img entity-item-round img-preview{{selectedPhoto.status === 'fail' ? '-error' : ''}}"
                     [ngStyle]="{'background-image': 'url('+ selectedPhoto.src + ')'}">
                </div>

              </div>

              <div *ngIf="!selectedPhoto && candidate.photo" class="img-preview-container">

                <div class="empty-img entity-item-round img-preview"
                     [ngStyle]="{'background-image': 'url('+ '/files/photo/' + candidate.photo + ')'}">
                </div>

              </div>


              <span class="three-dots">
              <div class="dropdown">
                <button class="btn btn-default" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </button>

                <div class="profile__dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-132px, 31px, 0px);">
                  <input id="addPhoto" class="input-photo" #photoInput type="file" accept="image/*" (change)="processPhoto(photoInput)"><label for="addPhoto" class="dropdown-item"><i class="fas fa-plus" style="color: #BDBDBD;border: 1px solid #BDBDBD; border-radius:50%; font-size: 10px;text-align: center "></i><span>Добавить</span></label>
                  <button class="dropdown-item"><i class="fas fa-plus" style="color: #BDBDBD;border: 1px solid #BDBDBD; border-radius:50%; font-size: 10px;text-align: center "></i> Из CV</button>
                  <button class="dropdown-item" id="removePhoto" (click)="removePhoto()"><i class="fas fa-minus" style="color: #BDBDBD;border: 1px solid #BDBDBD; border-radius:50%; font-size: 10px;text-align: center "></i> Удалить</button>
                </div>

              </div>
            </span>
            </div>
          </div>

          <div class="col-12 ">
            <div class="p3 border-bottom"></div>
            <div class="row">
              <div class="col-6 col-lg-6 candidate-create__skills-content">
                <div class="candidate-update__skills-label pt-3">
                  <h6>Навыки</h6>
                </div>

                <mat-form-field  *ngIf="isSelectedSkill">
                  <mat-select multiple [(ngModel)]="selectedSkills" [value]="selectedSkills" [compareWith]="comparer" name="selectedSkills">
                    <mat-option  *ngFor="let skill of skills" [value]="skill">{{skill.name}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="p3 border-bottom"></div>
            <div class="row">
              <div class="col-12 col-lg-12 candidate-create__comment-content">
                <div class="candidate-create__comment-label pt-3">
                  <h6>Комментарий</h6>
                </div>
                <ckeditor [editor]="Editor" data="" [(ngModel)]="candidate.notes" name="notes"></ckeditor>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6" style="padding: 40px;">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6 pull-left">
                <h4>
                  Резюме
                </h4>
              </div>
              <div class="col-6 pull-right text-right">
                <input id="addResume" class="input-resume" #fileInputResume type="file" accept="application/pdf" (change)="processFile(fileInputResume, IS_RESUME)" [attr.disabled]="(selectedFile||candidateResume)? '' : null"><label for="addResume" class="add-resume-label"><i class="fas fa-plus-circle fa-add-resume" aria-hidden="true"></i><span>Добавить резюме</span></label>
                <button class="remove-resume-button" id="removeResume" (click)="removeFile($event)" [disabled]="!(candidateResume || selectedFile)"><i class="fas fa-minus-circle"></i>Удалить резюме</button>
              </div>
            </div>
          </div>
          <div class="col-12" style="background: #f5f5f5; height: 80vh;">
            <div *ngIf="selectedFile">
              <ngx-extended-pdf-viewer [src]="'/files/attachments/' + candidate.id + '/' + selectedFile.file.name" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
            </div>
            <div *ngIf="candidateResume?.length">
              <ngx-extended-pdf-viewer [src]="'/files/attachments/' + candidate.id + '/' +  candidateResume[0].file_name" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-6 pull-left">
                <h4>
                  Документы
                </h4>
              </div>
              <div class="col-6 pull-right text-right">
                <input id="addDocument" class="input-document" #fileInputDocument type="file" accept="text/plain,application/pdf,application/vnd.oasis.opendocument.text,application/msword" (change)="processFile(fileInputDocument, IS_DOCUMENT)"><label for="addDocument" class="add-document-label"><i class="fas fa-plus-circle fa-add-document" aria-hidden="true"></i><span>Добавить документ</span></label>
              </div>
            </div>
          </div>
          <div class="col-12">

              <div class="p3 border-bottom"></div>

              <div class="" *ngFor="let doc of candidateDocuments">
                <div style="display: flex;justify-content: space-around;">
                  <div style="display: flex; margin-right: auto;">
                    <div style="margin-right: 10px;">
                      <i class="fas fa-file-image-o"></i>
                    </div>
                    <span>{{doc.file_name}}</span>
                  </div>
                  <div style="display: flex;">
                    <div style="margin-right: 10px;">
                      <a href="{{'/files/attachments/' + doc.file_name}}" download=""><i class="fas fa-download"></i></a>
                    </div>
                    <div>
                      <a href="#" (click)="removeCandidateDocumentByName($event,doc.file_name)"><i class="fas fa-trash-alt"></i></a>
                    </div>
                  </div>

                </div>
              </div>
              <div class="p3 border-bottom"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  </form>
</ng-container>
