<div class="top-menu-wrap">
  <div class="logo-wrap">
    <img src="/img/logo.png" alt="">
  </div>
  <div class="menu-right">
    <div class="menu-search">
      <a href="#" class=""><i class="fas fa-search"></i></a>
    </div>
    <div class="menu-items">
      <i class="fas fa-envelope"></i>
      <i class="fas fa-calendar"></i>
      <a href="#" class="">
        <i class="fas fas fa-sign-out-alt"></i>
      </a>
    </div>
    <div class="menu-auth">
      Привет, Brain!
    </div>
  </div>
</div>

<div class="container-fluid h100">
  <div class="main-container__wrap row h-100">
    <div class="main-nav-left border-right col-2 col-lg-2" style="padding: 20px;">
      <div class="main-nav-item">
        <a [routerLink]="['/home']">Home</a>
      </div>
      <div class="main-nav-item">
        <a [routerLink]="['/all-candidates']">Candidates</a>
      </div>
      <div class="main-nav-item">
        <a [routerLink]="['/all-vacancies']">Vacancies</a>
      </div>
      <div class="main-nav-item">
        <a [routerLink]="['/companies']">Companies</a>
      </div>
      <div class="main-nav-item">
        <a [routerLink]="['/admin']">Administration</a>
      </div>
      <div class="main-nav-item">
        <a [routerLink]="['/add-candidate']">Add Candidate</a>
      </div>
      <div class="main-nav-item">
        <a [routerLink]="['/add-vacancy']">Add Vacancy</a>
      </div>
    </div>
    <div class="content col-10 col-lg-10" style="">
      <div id="content">
<!--        <div class="container-fluid">-->
          <router-outlet></router-outlet>
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
