<div class="modal-dialog" style="margin: auto;">
	<div class="modal-content">
		<div class="modal-header">
			<h5 id="customer-label" class="modal-title">ОТПРАВИТЬ ЗАКАЗЧИКУ</h5>
			<button type="button" class="close pull-right"  aria-label="Close" data-dismiss="modal" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="modal-body">
			<div class="customer-send">
				<form action="" id="formcustomer" #sendCustomer="ngForm" (ngSubmit)="onFormSubmit(sendCustomer)">
					<div class="form-group field-createsendform-approved">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" id="createsendform-approved" class="custom-control-input" name="" value="1" checked="">
              <label class="custom-control-label" for="createsendform-approved" style="font-weight: 500;">
              Согласие тимлида
              </label>
						</div>
					</div>
          <div class="candidate-create__panel-buttons p-3">
              <div class="row border-bottom"></div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-6">
              <div class="customer-send__input_wrap">
                <div class="customer-send_customer-label">
                    <h6>Заказчик</h6>
                </div>
                <div class="form-group field-customerCustomer">
                  <input [(ngModel)]="selected_customer"
                  [typeahead]="customers_names"
                  [typeaheadMinLength]="0"
                  (typeaheadOnSelect)="onSelect($event)"
                  name="selected_customer"
                  class="form-control">
                </div>		                			
                <div class="customer-send_vacancy-label pt-3">
                    <h6>Вакансия</h6>
                </div>	                            
                <div class="form-group field-customerVacancy">
                  <input [(ngModel)]="selected_vacancy"
                  [typeahead]="vacancies_names"
                  [typeaheadMinLength]="0"
                  name="selected_vacancy"
                  class="form-control">
                </div>
                <div class="customer-send_contact-label pt-3">
                    <h6>Коммуникация</h6>
                </div>
                <div class="form-group field-customerContact">
                  <input [(ngModel)]="selected_contact_name"
                  [typeahead]="transformed_customer_contacts_names"
                  [typeaheadMinLength]="0"
                  (typeaheadOnSelect)="onSelectCommunication($event)"
                  typeaheadOptionField="name"
                  name="selected_contact_name"
                  class="form-control">
                </div>
                <div class="customer-send_contact-label pt-3">
                    <h6>Адрес</h6>
                </div>	                            	                            
                <div class="form-group field-customerAddress">
                  <input [(ngModel)]="selected_contact_value"
                  [typeahead]="choosen_customer_contacts_values"
                  [typeaheadMinLength]="0"
                  typeaheadOptionField="value"
                  name="selected_contact_value"
                  class="form-control">
                </div>
                <div class="customer-send_contact-label pt-3">
                    <h6>Прикрепить документ</h6>
                </div>	                            
                <div class="form-group field-customerDocument">
                  <input [(ngModel)]="selected_attached_document"
                  [typeahead]="attached_documents"
                  [typeaheadMinLength]="0"
                  name="selected_attached_document"
                  class="form-control"> 
                </div>

                <div class="col-12">
                    <div class="row clearfix">
                      <div class="pull-right text-right">
                          <!-- <i class="fa fa-plus-circle fa-add-resume" aria-hidden="true" slyle="color: #58d5e0;"></i> -->
                          <!-- <a href="#" id="customerAddDocument" class="add-resume-button ml-2" style="color: #58d5e0;">Добавить документ</a> -->
                          <input id="addDocument" class="input-document" #fileInputDocument type="file" accept="application/pdf" (change)="addDocument(fileInputDocument)"><label for="addDocument" class="add-document-label"><i class="fas fa-plus-circle fa-add-document" aria-hidden="true"></i><span>Добавить документ</span></label>
                      </div>
                    </div>
                </div>	                            
              </div>	
            </div>
            <div class="col-6 col-lg-6">
                <div class="" style="display: flex; justify-content: flex-end;">
                    <div class="customer-send__comment-content">
                        <div class="customer-send__comment-label">
                            <h6>Сопроводительное письмо</h6>
                        </div>
                        <div class="form-group field-customerLetter">
                            <textarea id="customerLetter" [(ngModel)]="customer_letter_body" class="form-control" name="CreateSendForm[letter]" rows="6"></textarea>
                        </div>                    
                    </div>
                </div>
            </div>	                	
          </div>
					<div class="row pt-3" style="justify-content:center;">
					    <button type="submit" class="btn btn-sm btn-crm btn-crm-primary mr-2">ОТПРАВИТЬ</button>
					    <button type="button" class="btn btn-sm btn-crm btn-crm-default btn-crm-default_red" data-dismiss="modal" (click)="bsModalRef.hide()">ОТМЕНA</button>
					</div>	                					
				</form>
			</div>
		</div>
	</div>
</div>
