<div class="modal-dialog" style="margin: auto;">
	<div class="modal-content">
		<div class="modal-header">
			<h5 id="customer-label" class="modal-title">РЕДАКТИРОВАТЬ ВАКАНСИЮ</h5>
			<button type="button" class="close pull-right"  aria-label="Close" data-dismiss="modal" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>			
		</div>
		<div class="modal-body">
			<div class="vacancy-update">
				<form action="" id="vacancyupdate" #vacancyUpdate="ngForm" (ngSubmit)="onFormSubmit(vacancyUpdate)">
					<div class="vacancy-update__wrap">
						<div class="row">
							<div class="col-12 col-lg-12">
								<div class="vacancy-update__input-wrap">
									<input [ngModel]="selectedVacancyId" type="hidden" name="vacancyId">
									<div class="vacancy-update_position-label pt-3">
										<h6>Должность</h6>
									</div>
									<div class="form-group field-vacancyPosition">
							            <input [(ngModel)]="selectedVacancy.name"
										name="vacancy_position"
							            class="form-control">										
									</div>									
									<div class="vacancy-update_salary-label pt-3">
										<h6>Зарплата</h6>
									</div>
									<div class="form-group field-vacancySalary">
							            <input [(ngModel)]="selectedVacancy.salary"
										name="vacancy_salary"
							            class="form-control">										
									</div>									
									<div class="vacancy-update_location-label pt-3">
										<h6>Локация</h6>
									</div>
									<select class="form-control" name="location"
									[(ngModel)]="selectedVacancy.location" #city="ngModel">
										<option  *ngFor="let city of cities" [value]="city.id">
											{{city.name}}
										</option>
									</select>									
									<div class="vacancy-update_skills-label pt-3">
										<h6>Навыки</h6>
									</div>
									<mat-form-field *ngIf="isSelectedSkill">
										<mat-select multiple [(ngModel)]="selectedSkills" [value]="selectedSkills" name="selectedSkills">
										  <mat-option  *ngFor="let skill of skills" [value]="skill">{{skill.name}}</mat-option>
										</mat-select>
									</mat-form-field>									
									<div class="vacancy-update_duties-label pt-3">
										<h6>Обязанности</h6>
									</div>
									<ckeditor [editor]="Editor" data="" [(ngModel)]="selectedVacancy.v_duties" name="duties"></ckeditor>
									<div class="vacancy-update_requirements pt-3">
										<h6>Требования</h6>
									</div>
									<ckeditor [editor]="Editor" data="" [(ngModel)]="selectedVacancy.v_requirements" name="requirements"></ckeditor>
									<div class="vacancy-update_conditions-label pt-3">
										<h6>Условия работы</h6>
									</div>
									<ckeditor [editor]="Editor" data="" [(ngModel)]="selectedVacancy.w_conditions" name="conditions"></ckeditor>
									<div class="vacancy-update_conditions-label pt-3">
										<h6>Описание</h6>
									</div>
									<ckeditor [editor]="Editor" data="" [(ngModel)]="selectedVacancy.v_description" name="description"></ckeditor>									
					                <div class="col-12">
					                    <div class="row clearfix">
					                      <div class="pull-right text-right">
					                          <input id="addDocument" class="input-document" #fileInputDocument type="file" accept="application/pdf" (change)="addDocument(fileInputDocument)"><label for="addDocument" class="add-document-label"><i class="fas fa-plus-circle fa-add-document" aria-hidden="true"></i><span>Добавить документ</span></label>
					                      </div>
					                    </div>
					                </div>									
									<div class="row pt-3" style="justify-content:center;">
									    <button type="submit" class="btn btn-sm btn-crm btn-crm-primary mr-2">СОХРАНИТЬ</button>
									    <button type="button" class="btn btn-sm btn-crm btn-crm-default btn-crm-default_red" data-dismiss="modal" (click)="bsModalRef.hide()">ОТМЕНA</button>
									</div>                                    
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>