.modal-header {
    background: #01919D;
    color: white;
    padding: 0.5rem 1rem!important;
    align-items: center!important;
}
.modal-header h5 {
    font-size: 13px;
    margin: 0px;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
/******BUTTONS******/
.btn-crm {
    border-radius: 0!important;
    height: 30px;
    min-width: 120px;
  }
  .btn-crm-primary{
    font-size: 11px!important;
    font-weight: 700!important;
    border-radius: 0!important;
    border: 1px solid #01747f !important;
    height: 30px;
    background-color: #01919D!important;
    color: white!important;
  }
  .btn-crm-default{
    font-size: 11px!important;
    font-weight: 700!important;
    border-radius: 0!important;
    border: 1px solid #aeaeae !important;
    height: 30px;
  }
  .btn-crm-default:hover {
    background: #f5f5f5;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(255, 177, 6, 0.25);
  }
  .btn-crm-default_red {
    border-color: red !important;
    color: red !important;
  }

  ::ng-deep .cdk-global-overlay-wrapper,  ::ng-deep .cdk-overlay-container {
     z-index: 9999!important; 
  } 

  .vacancy-update__input-wrap mat-form-field {
    min-width: 100%;
  }
  /******UPLOAD RESUME AND DOCUMENTS******/
  .fa-add-document:before {
    content: "\f055";
    line-height: 1;
    padding: 1.5px;
    color: #58d5e0;
  }
  .add-document-button,.remove-document-button {
    color: #58d5e0;
  }
  .add-document-label {
    display: block;
    width: 100%;
    padding: .25rem;
    clear: both;
    font-weight: 400;
    color: #58d5e0;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  .add-document-label span {
    margin-left: 10px;
    color: #58d5e0;
  }
  .input-document {
    display: none;
  }