<form #vacancyAddForm="ngForm" (ngSubmit)="onFormSubmit(vacancyAddForm)">
    <div class="add-vacancy container-fluid">
        <div class="add-vacancy__panel-buttons pt3">
            <div class="row border-bottom">
                <div class="entity-details__buttons col-11 col-lg-11 pt-4 pl-0 pb-4">
                    <div id="entity-buttons" class="entity-buttons-wrapper text-left">
                        <button type="submit" id="addVacancyTest" class="btn btn-crm-default" [disabled]="isVacancySaved">СОХРАНИТЬ</button>
                        <button type="button" class="btn btn-crm-default" [routerLink]="['/all-vacancies']">ЗАКРЫТЬ</button>
                        <button type="button" class="btn btn-crm-default" [disabled]="!isVacancySaved" (click)="openModal(template)">УДАЛИТЬ</button>                        
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <ng-template #template>
          <div class="modal-header text-center">
            <h5>Вы действительно хотите удалить вакансию?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="decline()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p>{{name | uppercase}}</p>
            <p></p>
            <button type="button" class="btn btn-sm btn-crm btn-crm-primary mr-2" (click)="confirm()" >Yes</button>
            <button type="button" class="btn btn-sm btn-crm btn-crm-default btn-crm-default_red" (click)="decline()" >No</button>
          </div>
        </ng-template>        
        <div class="add-vacancy__wrap">
            <div class="row">
                <div class="col-6 col-lg-6 border-right">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <div class="add-vacancy__input_wrap">
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="name" name="name" placeholder="Название вакансии" />
                                </div>
                                <div class="form-group">
                                  <select class="form-control" name="company"
                                  [(ngModel)]="company" #vacancyCompany="ngModel" required>
                                    <option [ngValue]="undefined" disabled>Выберите компанию</option>
                                    <option  *ngFor="let company of companies" [ngValue]="company.id">
                                      {{company.name}}
                                    </option>
                                  </select>
                                </div> 
                                <div class="form-group">
                                  <select class="form-control" name="location"
                                  [(ngModel)]="location" #city="ngModel" required>
                                    <option [ngValue]="undefined" disabled>Выберите город</option>
                                    <option  *ngFor="let city of cities" [ngValue]="city.id">
                                      {{city.name}}
                                    </option>
                                  </select>
                                </div>  
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="salary" name="salary" placeholder="Зарплата" />
                                </div>   
                                <div class="form-group">

                                  <mat-form-field>
                                    <mat-select multiple (selectionChange)="addSkill($event)" name="selectedSkills">
                                      <mat-option  *ngFor="let skill of skills" [value]="skill">{{skill.name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>

                                </div>    
                                                                                                                                                                                                                                                                                         
                            </div>
                        </div>
                        <div class="col-12">
                          <div class="p3 border-bottom"></div>
                          <div class="row">
                            <div class="col-12 col-lg-12 candidate-create__comment-content">
                              <div class="candidate-create__comment-label pt-3">
                                <h6>Обязанности</h6>
                              </div>
                              <ckeditor [editor]="Editor" data="" [(ngModel)]="v_duties" name="v_duties"></ckeditor>
                            </div>
                          </div>
                      </div>  
                      <div class="col-12">
                          <div class="p3 border-bottom"></div>
                          <div class="row">
                            <div class="col-12 col-lg-12 candidate-create__comment-content">
                              <div class="candidate-create__comment-label pt-3">
                                <h6>Условия работы</h6>
                              </div>
                              <ckeditor [editor]="Editor" data="" [(ngModel)]="w_conditions" name="w_conditions"></ckeditor>
                            </div>
                          </div>
                      </div> 
                      <div class="col-12">
                          <div class="p3 border-bottom"></div>
                          <div class="row">
                            <div class="col-12 col-lg-12 candidate-create__comment-content">
                              <div class="candidate-create__comment-label pt-3">
                                <h6>Требования</h6>
                              </div>
                              <ckeditor [editor]="Editor" data="" [(ngModel)]="v_requirements" name="v_requirements"></ckeditor>
                            </div>
                          </div>
                      </div> 
                      <div class="col-12">
                          <div class="p3 border-bottom"></div>
                          <div class="row">
                            <div class="col-12 col-lg-12 candidate-create__comment-content">
                              <div class="candidate-create__comment-label pt-3">
                                <h6>Описание вакансии</h6>
                              </div>
                              <ckeditor [editor]="Editor" data="" [(ngModel)]="v_description" name="v_description"></ckeditor>
                            </div>
                          </div>
                      </div>                        
                    </div>
                </div>
                <div class="col-6 col-lg-6">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6 pull-left">
                        <h4>
                          Документы
                        </h4>
                      </div>
                      <div class="col-6 pull-right text-right">
                        <input id="addDocument" class="input-document" #fileInputDocument type="file" accept="text/plain,application/pdf,application/vnd.oasis.opendocument.text,application/msword" (change)="processFile(fileInputDocument)"><label for="addDocument" class="add-document-label"><i class="fas fa-plus-circle fa-add-document" aria-hidden="true"></i><span>Добавить документ</span></label>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">

                    <div class="p3 border-bottom"></div>
        
                    <div class="" *ngFor="let doc of vacancyDocuments; let i = index;">
                      <div style="display: flex;justify-content: space-around;">
                        <div style="display: flex; margin-right: auto;">
                          <div style="margin-right: 10px;">
                            <i class="fas fa-file-image-o"></i>
                          </div>
                          <span>{{doc.file.name}}</span>
                        </div>
                        <div style="display: flex;">
                          <div style="margin-right: 10px;">
                            <a href="{{'/files/attachments/' + vacancy.id + '/' + doc.file.name}}" download=""><i class="fas fa-download"></i></a>
                          </div>
                          <div>
                            <a href="#" #deleteLink [attr.data-document-id]="i" (click)="removeVacancyDocument($event, deleteLink)"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
        
                      </div>
                    </div>
                    <div class="p3 border-bottom"></div>
        
                  </div>

                </div>
            </div>
        </div>
    </div>  
</form>