.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.candidates {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.candidates li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.candidates li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.candidates li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.candidates .text {
  position: relative;
  top: -3px;
}
.candidates .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/*******Main menu top*******/
.main-menu-top {
  padding: 0 !important;
  background: #0E5B61;
  /*box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);*/
  box-shadow: inset 0px 28px 20px -20px rgba(0,0,0,0.28);
}
.main-menu-top a, .main-menu-top i {
  color: rgba(255, 255, 255, 0.8);
  padding: 1em 28px;
}
.candidate-search {
  padding: 42px 0 31px !important;
}
#searchCandidate {
  width: 35rem;
}
.candidate-search input {
  background: #F6F6F6;
  border: 1px solid #E1E1E1;
  font-size: 14px;
  padding: 12px;
  height: 40px;
}
.candidate-search input::placeholder {
  text-transform: uppercase;
  color: #757575;
}
.entity_list__item {
  display:flex;
  background: #fff;
  min-height: 100px;
  /*padding-bottom: 5rem !important;*/
  /*padding-top: 5rem !important;*/
  border-bottom: 1px solid #dee2e6 !important;
  margin: 0 !important;
}
.candidates-list {
  overflow-y: scroll;
  padding: 0;
  overflow-x: hidden;
  max-height: 875px;
}
.entity_list__item a {
  color: black !important;
  text-decoration: none;
  background-color: transparent;
}
.entity_list__item .entity-title {
  font-weight: 500;
}
.entity_list__item .entity-sub {
  font-size: 14px;
  color:
    #616161;
  font-weight: normal;
}
.entity-item-round {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-left: 20px;
  width: 65px;
  height: 65px;
  background-color:
    #f5f5f5;
  border-radius: 50% !important;
  border: 1px solid
  #eaeaea;
}
.entity-item-round i {
  line-height: 65px;
  font-size: 40px;
  color:
    #C4C4C4;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}
/*******BUTTONS********/
.entity-details__buttons {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  padding-left: 0 !important;
  text-align: center;
}
.entity-buttons-wrapper .btn {
  height: 40px;
  /*padding: 12px 9px;*/
  margin-right: 12px;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-transform: uppercase;
  color:
    rgba(0, 0, 0, 0.87);
}
.btn-crm {
  border-radius: 0!important;
  height: 30px;
  min-width: 120px;
}
.btn-crm-primary{
  font-size: 11px!important;
  font-weight: 700!important;
  border-radius: 0!important;
  border: 1px solid #01747f !important;
  height: 30px;
  background-color: #01919D!important;
  color: white!important;
}
.btn-crm-default{
  font-size: 11px!important;
  font-weight: 700!important;
  border-radius: 0!important;
  border: 1px solid #aeaeae !important;
  height: 30px;
}
.btn-crm-default:hover {
  background: #f5f5f5;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(255, 177, 6, 0.25);
}
.btn-crm-default_red {
  border-color: red !important;
  color: red !important;
}
/********Main panel*******/

.entity-name {
  font-size: 20px;
  color: #151319;
  padding-top: 24px;
}
.entity-sub {
  /*padding-top: 12px;*/
  font-size: 18px;
  color: #151319;
}
.entity-details .item-title {
  font-size: 16px;
  line-height: 30px;
  color: #6A6A6A;
}

.entity-details .item-value{
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #151319;
}
.stages.nav-item a {
  font-weight: normal;
  font-size: 20px;
  color: #6A6A6A;
}
.stages.nav-item a.active {
  font-weight: bold;
  font-size: 20px;
  color: #26696E;
}
.stages .pl-4 {
  font-weight: normal;
  font-size: 16px;
  color: #4B4C51
}
.stages b {
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  color: #4B4C51;
}

.stages.tab-pane{
  background: #edf7f8;
}
.entity-stages-wrap .tab-pane {
  min-height: 250px;
  border-bottom: 1px solid #dee2e6;
}
.entity-stages-wrap .tab-content {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;

}
.nav-tabs .nav-link.active {
  border-bottom-color: #edf7f8;
}
.entity-details .skill {
  display: inline;
  margin-right: 10px;
  background: rgba(225, 225, 225, 0.6);
  border: 1px solid #C4C4C4;
  font-size: 10px;
  text-transform: uppercase;
  color: #151319;
}
span.skill {
  margin: 1px 2px;
  padding: 1px 5px;
  border: 1px solid #aeaeae;
  font-size: 12px;
  background: #f5f5f5;
  display: inline-block;
  font-weight: 500;
}
.side-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 50px;
  margin-top: 10px;
}
.entity-item-round-big-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  width: 65px;
  height: 65px;
  background-color:
    #f5f5f5;
  border-radius: 50% !important;
  border: 1px solid
  #eaeaea;
  z-index: 99;
}
.entity-item-round-big-placeholder i {
  line-height: 65px;
  font-size: 40px;
  color:
    #C4C4C4;
}
.empty-img-big-placeholder {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  background-color:
    #f5f5f5;
  border-radius: 50% !important;
}
.three-dots {
  position: absolute;
  top: 10px;
  right: 0;
}
.dropdown {
  position: relative;
}
.btn-default {
  border-radius: 50% !important;
  border: 0px !important;
}
.dot {
  height: 5px;
  width: 5px;
  background-color:
    #bbb;
  border-radius: 50%;
  display: flex;
  margin: 1px;
}
.profile__dropdown-menu i {
  width: 22px;
  height: 22px;
  margin-right: 16px;
}
.profile__dropdown-menu i::before {
  line-height: 22px;
  font-size: 12px;
}
.input-photo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-photo + label {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  padding-left:1.45rem;
  margin-bottom: 0;
}
/*******MODALS - DELETE CANDIDATE ******/
.modal-body .btn {
  font-size: 14px !important;
}
.modal-header{
  background: #01919D;
  color: white;
  padding: 0.5rem 1rem!important;
  align-items: center!important;
}
.modal-header h5 {
  font-size: 14px;
  margin: 0px;
}
