<!--<div class="container-fluid">-->
  <div class="main-menu-top row pt-3 pb-2 border-bottom">
    <div class="col-12 ">
      <div class="text-left" style="float:left">
        <a class="" ><i class="fas fa-home"></i></a>

        <a href="#" (click)="selectCandidatesStatuses($event, STATUS_ALL)">Все</a>
        <a href="#" (click)="selectCandidatesStatuses($event, STATUS_NEW)">Новые</a>
        <a href="#" (click)="selectCandidatesStatuses($event, STATUS_CONSIDERED)">На рассмотрении</a>
        <a href="#" (click)="selectCandidatesStatuses($event, STATUS_TODAY)">Сегодня</a>
        <a href="#" (click)="selectCandidatesStatuses($event, STATUS_OFFER)">Оффер</a>
        <a href="#" (click)="selectCandidatesStatuses($event, STATUS_SELECTED)">Отобранные</a>
        <a href="#" (click)="selectCandidatesStatuses($event, STATUS_BLACKLISTED)">Черный список</a>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-3">
        <app-search-candidate (search)="searchCandidate($event)"></app-search-candidate>
        <app-candidate-list [selected_statuses]="getStatuses()" [searchString]="searchString"></app-candidate-list>
      </div>
      <div class="col-lg-9">
        <app-candidate-info></app-candidate-info>
      </div>  
    </div>
  </div>
<!--</div>-->
