<div class="modal-dialog" style="margin: auto;">
	<div class="modal-content">
		<div class="modal-header">
			<h5 id="customer-label" class="modal-title">ОТПРАВИТЬ КАНДИДАТУ</h5>
			<button type="button" class="close pull-right"  aria-label="Close" data-dismiss="modal" (click)="bsModalRef.hide()"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="modal-body">
			<div class="candidate-send">
				<form action="" id="formcandidate" #sendCandidate="ngForm" (ngSubmit)="onFormSubmit(sendCandidate)">
					<div class="candidate-send__wrap">
						<div class="row">
							<div class="col-6 col-lg-6">
								<div class="candidate-send__input-wrap">
									<div class="candidate-send_contact-label pt-3">
										<h6>Отправить кандидату:</h6>
										<h6>{{selectedCandidate.lastname | uppercase}} {{selectedCandidate.name | uppercase}} {{selectedCandidate.fathername | uppercase}}</h6>
									</div>
									<div class=""></div>
									<div class="candidate-send_contact-label pt-3">
									    <h6>Коммуникация</h6>
									</div>
					                <div class="form-group field-candidateContact">
					                  <input [(ngModel)]="selected_contact_name"
					                  [typeahead]="transformed_candidate_contacts_names"
					                  [typeaheadMinLength]="0"
					                  (typeaheadOnSelect)="onSelectCommunication($event)"
					                  typeaheadOptionField="name"
					                  name="selected_contact_name"
					                  class="form-control">
					                </div>																								
									<div class="candidate-send_contact-label pt-3">
									    <h6>Адрес</h6>
									</div>
					                <div class="form-group field-candidateAddress">
					                  <input [(ngModel)]="selected_contact_value"
					                  [typeahead]="choosen_candidate_contacts_values"
					                  [typeaheadMinLength]="0"
					                  typeaheadOptionField="value"
					                  name="selected_contact_value"
					                  class="form-control">
					                </div>
									<div class="candidate-send_contact-label pt-3">
									    <h6>Прикрепить документ</h6>
									</div>
					                <div class="form-group field-candidateDocument">
					                  <input [(ngModel)]="selected_attached_document"
					                  [typeahead]="attached_documents"
					                  [typeaheadMinLength]="0"
					                  name="selected_attached_document"
					                  class="form-control"> 
					                </div>
					                <div class="col-12">
					                    <div class="row clearfix">
					                      <div class="pull-right text-right">
					                          <input id="addDocument" class="input-document" #fileInputDocument type="file" accept="application/pdf" (change)="addDocument(fileInputDocument)"><label for="addDocument" class="add-document-label"><i class="fas fa-plus-circle fa-add-document" aria-hidden="true"></i><span>Добавить документ</span></label>
					                      </div>
					                    </div>
					                </div>					                				
								</div>
							</div>
							<div class="col-6 col-lg-6">
				                <div class="" style="display: flex; justify-content: flex-end;">
				                    <div class="candidate-send__comment-content">
				                        <div class="candidate-send__comment-label">
				                            <h6>Сопроводительное письмо</h6>
				                        </div>
				                        <div class="form-group field-candidateLetter">
				                            <textarea id="candidateLetter" [(ngModel)]="candidate_letter_body" class="form-control" name="CreateSendForm[letter]" rows="6"></textarea>
				                        </div>                    
				                    </div>
				                </div>								
							</div>
						</div>
						<div class="row pt-3" style="justify-content:center;">
						    <button type="submit" class="btn btn-sm btn-crm btn-crm-primary mr-2">ОТПРАВИТЬ</button>
						    <button type="button" class="btn btn-sm btn-crm btn-crm-default btn-crm-default_red" data-dismiss="modal" (click)="bsModalRef.hide()">ОТМЕНA</button>
						</div>						
					</div>
				</form>
			</div>
		</div>		
	</div>
</div>